html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {position: relative;}
footer {
	position: absolute; 
	bottom: 0; 
	background-color: cyan;
	width: 100%;
	margin: 0;margin-left: 0;margin-right: 0;
}

#maincontainer
{
	min-height: 100%; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
}

#sectionpart {
	flex-grow: 1;
}

/* HEADER DESIGN */

#global_header
{
	width: 100%
	margin: 0;
	background-color: black;
	display: flex;
}
#global_header nav
{
	display: flex;
}

#global_header nav ul
{
	list-style-type: none; margin: 0; padding: 0; width: 100%

}

#global_header nav ul li
{

	display:inline-block;
	padding: 20px 0;
}

#global_header nav ul li a
{
	padding: 20px 20px;
	color: white;
	text-align: center;
}
#global_header nav ul li a:hover
{
	color: black;
	background-color: white;
	padding: 20px 20px;
	text-align: center;
}

/* MAIN */

#maincontent
{
	background-color: grey;
	width: 100%;
	margin: 0 auto;
}

	/* ID DESIGN */

#idblock
{
	float: left;
	background-color: blue;
	width: 30%;
	position: fixed;
}

	/* SECTION PART */

#sectionpart
{
	background-color: black;
	float: right;
	width: 70%
}

/* MAIN FOOTER DESIGN */


section
{
	background-color: red;
}
